* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    letter-spacing: -1px;
}


nav {
    height: 85px;
    width: 100%;
    background-color: #000;
    padding: 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-categories{
    width:auto;
}


/* UI KIT */
h1 {
    font-weight: bold; 
    font-size: 40px;
    color: #000;
}

h2 {
    font-weight: semibold;
    font-size:32px;
    color: #fff;
}

h3 {
    font-weight: bold;
    font-size:30px;
    color: #000;
}

h4 {
    font-weight: semibold;
    font-size:28px;
    color: #000;
}

h5 {
    font-weight: semibold;
    font-size:24px;
    color: #000;
}

.h5-purple {
    color: #8F57FB;
    font-size: 24px;
    font-weight: semibold;
}

h6 {
    font-weight: bold;
    font-size:22px;
    color: #000;
}

p {
    font-size:20px;
    color: #000;
}

.p-purple {
    font-weight: semibold;
    font-size:20px;
    color: #5D11EF;
}

.purple-bg {
    background-color: #8F57FB !important;
}

.btn-1 {
    background-color: #8F57FB;
    padding: 5px;
    width: 150px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    border-radius:5px;
    transition: background-color 200ms ease-in;
}

.btn-1:hover {
    background-color: #5D11EF;
}

.btn-2 {
    background-color: #C8ADFD;
    border: 1px solid #C8ADFD;
    color: #000;
    padding: 5px;
    width: 150px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    border-radius:5px;
    transition: background-color 200ms ease-in;
}

.btn-2:hover {
    background-color: hsla(260, 95%, 84%, 0.387);
}

.btn-3 {
    background-color: #000;
    border: 1px solid #000;
    color: #000;
    padding: 5px;
    width: 150px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    border-radius:5px;
    transition: background-color 200ms ease-in;
}

.btn-3:hover {
    background-color: hsla(0, 0%, 100%, 0.273);
}

a {
    text-decoration: none;
    color: #000;
}

.link1 {
  text-decoration: none;
  color: #000;
}

.link1:hover {
    color: #8F57FB;
    text-decoration: underline;
}

.link2 {
    text-decoration: none;
    color: #8F57FB;
  }
  
.link2:hover {
      color: #C8ADFD;
      text-decoration: underline;
  }

.link3 {
    text-decoration: none;
    color: #fff;
  }
  
.link3:hover {
      color: #000;
      text-decoration: underline;
  }








/* Navigation */
.hamburger {
    display: none;
}

.hamburger img {
    height: 23px;
}

nav ul li {
    display: inline-block;
    padding-right: 10px;
}

nav .logo {
    height: 70px;
    overflow: hidden;
}



.nav-buttons input {
    border: none;
    border-radius: 20px;
    padding: 5px;
    height: 23px;
    margin-right: 15px;
}

.nav-buttons input:focus {
 outline-style: none;
}

.nav-buttons img {
    height: 20px;
    position: relative;
    top: 5px;
    margin-left: 15px;
}

.nav-buttons ::placeholder {
    color: #000;
    text-align: center;
}
/* Cart Page */

.card-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 50px 0px;
 gap: 50px 0;
}

.card-section img {
    width: 200px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar ,.progress-bar-count {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-bar .progress-bar-count h2 {
    background-color: #7F7E7E;
    border-radius: 50%;
    padding: 15px 28px;
}

.progress-bar .progress-bar-text {
    display: flex;
    gap:10px 100px;
}

.progress-bar .line {
    width: 100px;
    height: 1px;
    background-color: #7F7E7E;
}
 

.progress-bar .progress-bar-text h5 {
    width: 100px;
    text-align: center;
}

.cart-items {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #7F7E7E;
    border-radius: 10px;
    padding: 20px 0;
    position: relative;
}

.cart-items img {
    width: 150px;
}

.cart-items .quantity-changer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-items .quantity-changer p {
    font-size: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    padding:0 10px;
}

.cart-items .cart-item-price h3 {
    color: #8F57FB;
}


.cart-items #remove-item-icon {
    width: 35px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.card-section .cart-details {
    align-self: start;
    padding: 0 50px;
}

.card-section .cart-details label {
    font-size: 20px;
    font-weight: bold;
}

.card-section .cart-details input {
    width: 480px;
    border: 3px solid #5D11EF;
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 20px;
    display: block;
}

.card-section .cart-details input::placeholder {
    color: #5D11EF;
    font-weight: bold;
}

.card-section .cart-details input:hover {
    background-color: #00000013;
}

.card-section .cart-details button {
    display: block;
    width: 240px;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    background-color: #8F57FB;
    text-align: center;
    margin: 20px 0;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.card-section .cart-details button:hover {
    background-color: #5D11EF;
}

.card-section .cart-page-change {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-section .cart-page-change .link2 {
    font-size: 25px;
    font-weight: bold;
}

.card-section .cart-page-change .btn-1 {
    font-size: 25px;
    width: 300px;
    color:#fff;
    padding: 20px 40px;
}

.card-section .cart-page-change img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 7px;
    right: -20px;
}




/* products */
.products {
    margin-top: 50px;
}

 section.products a p {
    margin-top: 25px;
    padding: 0px;
    font-weight: 500;
    display: inline-block;
 }

 section.products h1 {
    text-align: center;
 }

.product-model{
  margin-top: 25px;
  width: 310px;
}

 .product-model .product-image {
    width: 310px;
    height: 310px;
    position: relative;
}

.product-model .product-image:hover {
  box-shadow: #00000060 2px 2px 5px;
}

.product-model .product-image-1 {
    background-image: url('../images/product\ image.png');
}
.product-model .product-image-2 {
    background-image: url('../images/product-image-2.png');
}
.product-model .product-image-3 {
    background-image: url('../images/product-image-3.png');
}
.product-model .product-image-4 {
    background-image: url('../images/product-image-4.png');
}


.product-models {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0px 20px;
 }

.product-image img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-model .reduction {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 5px 15px;
    border-radius:15px;
    background-color: #8F57FB;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.product-model h3{
  display: inline-block;
  margin-top: 25px;
}

.product-model p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    left: 5px;
    bottom: 5px;
    text-decoration: line-through;
}

.product-model h4 {
margin-top: 15px;
font-weight: 600;
}



/*SOCIAL MEDIA*/
.social-media-section {
    background-color: #000;
    background-image: url('../images/logo-no-writing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 757px 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.social-media-section h2 {
    z-index: 1;
}

.social-media-section .social-media-links {
    display: flex;
    gap: 0px 128px;
    z-index: 1;
}




/* FOOTER */
footer {
    height: 550px;
    width: 100%;
    background-color: #C8ADFD;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


footer ul {
    list-style: none;
}

footer ul li {
    font-size: 30px;
    font-weight: bold;
}




/* MEDIA QUERIES */

@media screen and (max-width:1600px) {
    .product-models {
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 0px 20px;
     }
}

@media screen and (max-width:1302px) {
    .product-models {
        gap: 0px 10px;
    }
   
    .product-model .product-image {
        width: 170px;
        height: 170px;
        background-size:170px 170px;
    }

    .product-model{
        margin-top: 25px;
        width: 170px;
      }

      .product-image img {
        position: absolute;
        top: 5px;
        right: 5px;
    }

      .product-model .reduction {
        display: inline-block;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        padding: 3px 10px;
        border-radius:15px;
        background-color: #8F57FB;
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
    
    .product-model h3{
      display: inline-block;
      margin-top: 10px;
      font-size: 20px;
    }
    
    .product-model p {
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        position: static;
        margin-top: 2px;
        text-decoration: line-through;
    }
    
    .product-model h4 {
    margin-top: 2px;
    font-size: 16px;
    }
}

@media screen and (max-width:1270px){
    .social-media-section .social-media-links {
        gap: 0px 70px;
     }

     .social-media-section .social-media-logo {
        height: 400px;
     }
}

@media screen and (max-width:1200px) {
} 

@media screen and (max-width:940px) {
      
}

@media screen and (max-width:880px) {
    .nav-categories {
      display: none;
    }
  
    nav .logo {
      display: none;
    }
  
    .hamburger {
      display: flex;
      align-items: center;
    }
  
    .hamburger .logo2 {
      height: 70px;
    }

    .social-media-section .social-media-links {
        gap: 0px 30px;
        
     }
    
     .social-media-section .social-media-links img {
        height: 70px;
     }

     .cart-items {
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media screen and (max-width:750px) {
    .product-models {
        gap: 0px 100px;
    }
}

@media screen and (max-width:650px) {
    .cart-items {
        width: 80%;
        flex-direction: column;
        gap: 20px;
    }

    .cart-items .cart-item-description p {
        display: none;
    }

    .card-section .cart-details {
        padding: 0px 0px 0px 10px;
    }

    .card-section .cart-details input {
        width: 340px;
    }

    .card-section .cart-page-change {
        flex-direction: column;
        gap: 20px;
    }


}


@media screen and (max-width:600px) {
    
    nav {
        height: 85px;
        width: 100%;
        background-color: #000;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
    .nav-buttons input {
        display: none;
    }

    .nav-buttons img {
        height: 30px;
        margin-right: 20px;
    }

    .progress-bar .line {
        width: 40px;
    }

    .card-section h1 , .products h1{
        font-size: 30px;
    }

    .progress-bar .progress-bar-count h2 {
        font-size: 20px;
        padding: 5px 13px;
    }

    .progress-bar .progress-bar-text {
        gap: 10px 0px;
    }

    .progress-bar .progress-bar-text h5 {
        font-size: 15px;
    }

    .product-models {
        gap: 0px 50px;
    }

}

@media screen and (max-width:550px){
   
      footer h1{
        font-size: 26px;
     }

    .social-media-section .social-media-links {
        gap: 0px 20px;
        
     }
    
     .social-media-section .social-media-links img {
        height: 50px;
     }

     footer {
        height: 400px;
     }

     footer h1{
        font-size: 26px;
     }

     footer ul li {
        font-size: 20px;
     }
}

@media screen and (max-width:450px) {
    .product-models {
        gap: 0px 10px;
    }
}

@media screen and (max-width:400px) {
    .nav-buttons img {
        height: 30px;
        margin-right: 10px;
    }

    .hamburger .logo2 {
        height: 60px;
      }
    }